<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Venda</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <style>
        main {
            padding-top: 2em;
            text-align: center;
        }
        select {
            width: max-content;
        }
    </style>
</head>

<body>
    <header>
        <h2>Formulário: Venda</h2>
        <nav>
            <a th:href="@{/}">Home</a>
            <a th:href="@{/vendas/list}">Listar</a>
        </nav>
    </header>
    <main>        
        <section>
            <h2>ITEMS</h2>
            <table>
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <form action="/vendas/addItem" method="post" th:object="${itemVenda}">
                            <td>
                                <select name="produto.id">
                                    <option value="">Produto</option>
                                    <option th:each="p : ${produtos}" 
                                    th:value="${p.id}" 
                                    th:text="${p.descricao + ' R$:' + p.valor}"></option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:field="*{qtd}" name="qtd" id="qtd">
                            </td>     
                            <td>
                                <button type="submit">Adicionar</button>
                            </td>        
                        </form>
                    </tr>
                </tbody>
            </table>
        </section>

        <hr />

        <section>
            <h2>CARRINHO:</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Valor</th>
                        <th>Quantidade</th>
                        <th>Total</th>
                        <th colspan="1">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="itemVenda : ${session.venda.itemVendas}">
                        <td th:text="${itemVenda.produto.descricao}"></td>
                        <td th:text="${itemVenda.produto.valor}"></td>
                        <td th:text="${itemVenda.qtd}"></td>
                        <td th:text="${itemVenda.total()}"></td>
                        <td>
                            <button>Remover</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section>
            <form action="/vendas/save" method="post" th:object="${session.venda}">
                <input type="submit" value="Finalizar Venda">
            </form>
        </section>        
        
    </main>
    <footer>
        <p>por Jeferson Ferreira</p>
    </footer>
</body>
</html>