<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    </head>
    <body>
        <header>
            <h1>Lista de Vendas</h1>
            <nav>
                <a th:href="@{/}">Home</a>
                <a th:href="@{/vendas/form}">Formulário</a>
            </nav>
        </header>
        <main>
            <table class="table" border="1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Data</th>
                        <th>Total</th>
                        <th>Items</th>
                        <th colspan="1">Ação</th>
                    </tr>
                </thead>
                <tr th:each="venda : ${vendas}">
                    <td th:text="${venda.id}"></td>
                    <td th:text="${venda.data}"></td>
                    <td th:text="${venda.total()}"></td>
                    <td th:text="${venda.itemVendas}"></td>
                    <!-- <td>
                        <a th:href="@{/vendas/edit/{id}(id=${venda.id})}">Editar</a>
                    </td> -->
                    <td>
                        <a th:href="@{/vendas/remove/{id}(id=${venda.id})}">Excluir</a>
                    </td>
                </tr>
            </table>
        </main>
        <footer>
            <p>por Jeferson Ferreira</p>
        </footer>
    </body>
</html>