<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Produto</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <style>
        main {
            padding-top: 2em;
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
        <h2>Formulário: Produto</h2>
        <nav>
            <a th:href="@{/}">Home</a>
            <a th:href="@{/produtos/list}">Listar</a>
        </nav>
    </header>
    <main>
        <form th:action="${produto.id == null} ? @{/produtos/save} : @{/produtos/update}" th:object="${produto}"
            method="post">
            <input type="hidden" th:field="*{id}">
            <label for="descricao">Descrição</label><br />
            <input id="descricao" name="descricao" type="text" th:field="*{descricao}" placeholder="Descrição"><br />
            <label for="valor">Valor</label><br />
            <input id="valor" name="valor" type="number" min="0.01" step="0.01" max="9999" value="0.0" th:field="*{valor}" placeholder="Valor"><br />
            <input type="submit" value="Enviar">
        </form>
    </main>
    <footer>
        <p>por Jeferson Ferreira</p>
    </footer>
</body>

</html>