<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    </head>
    <body>
        <header>
            <h1>Lista de Produtos</h1>
            <nav>
                <a th:href="@{/}">Home</a>
                <a th:href="@{/produtos/form}">Formulário</a>
            </nav>
        </header>
        <main>
            <table class="table" border="1">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th colspan="2">Ação</th>
                    </tr>
                </thead>
                <tr th:each="produto : ${produtos}">
                    <td th:text="${produto.descricao}"></td>
                    <td th:text="${produto.valor}"></td>
                    <td>
                        <a th:href="@{/produtos/edit/{id}(id=${produto.id})}">Editar</a>
                    </td>
                    <td>
                        <a th:href="@{/produtos/remove/{id}(id=${produto.id})}">Excluir</a>
                    </td>
                </tr>
            </table>
        </main>
        <footer>
            <p>por Jeferson Ferreira</p>
        </footer>
    </body>
</html>