<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Mapeamento</title>
</head>
<body>
    <header>
        <h1>Programação para web II</h1>
        <p>IFTO 2021/2</p>
        <nav>
            <a th:href="@{/produtos/list}">Listar Produtos</a>
            <a th:href="@{/vendas/list}">Listar Vendas</a>
        </nav>
    </header>
    <main>
        <section>
            <article>
                <h1>Sobre</h1>
                <h3>4. Mapeamento com associações</h3>
                <p><small>Prof.: Fagno</small></p>
            </article>
        </section>
    </main>
    <footer>
        <p>por Jeferson Ferreira</p>
    </footer>
</body>